car<div class="row">
  <div class="col-md-3">
    <%= render 'car_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Район нахождения автомобиля
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @car do |f| %>

            <div class="row">
              <div class="form-group">
                <label>Адрес</label>
                <%= f.text_field :address, placeholder: "Где можно забрать автомобиль?", class: "form-control", required: true, id: "autoaddress" %>
              </div>
            </div>

            <div class="text-center">
              <%= f.submit "Сохранить", class: "btn btn-form" %>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
<script>
  $(function () {
    $("#autoaddress").geocomplete();
  });
</script>
